NODE_ENV=
API_VERSION=

AUTH0_DOMAIN=
AUTH0_AUDIENCE=

DRIVERS_MOCKUP_API_URL=
DRIVERS_MOCKUP_API_KEY=

GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_STORAGE_BUCKET=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Optional
HOST=
PORT=